input
{

display: block;
padding: 10px;

}
nav
{
    background-color: rgb(239, 44, 23);
   
    color: white;
}

a{
    color: white;
    text-decoration: none;
    padding: 5%;
}
a:hover
{
    color: blueviolet;
}

