
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type=number name="num" value="username" [(ngModel)]="no1">
    
    <input type=number name="show answer" [(ngModel)]="answer">
    <input type=number name="show answer" [(ngModel)]="answer1">
    <input type="button"value="cube" (click)="cubeme()">
    <input type="button"value="square" (click)="squareme()">
        
</body>
</html>
